/*Home section styles*/
.demo-border{
    border-bottom: 1px solid #fff;
    background: #34b1da;
    padding: 5px 0;
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}
a{

}
img{
   width:  100%;
}